@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-container,
.home-container {
  background-image: url("https://images.unsplash.com/photo-1511415932124-42efedd2eacf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Secular One", sans-serif;
  height: 100vh;
  position: relative;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.navbar-list > * {
  padding: 1rem 3rem;
  font-weight: bolder;
  border: 1px solid rgb(40, 204, 158);
}

.navbar-list > *:hover {
  background-color: rgba(40, 204, 158, 0.157);
  transition: background-color 300ms linear;
}

a:link {
  text-decoration: none;
  color: rgb(40, 204, 158);
}

a:visited {
  text-decoration: none;
  color: #28cc9e;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.473);
  padding-top: 5%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-contents-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.home-logo {
  height: 40rem;
}

.home-about-container {
  width: 50rem;
}

.home-about-header {
  color: #28cc9e;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-right: 10%;
}

.home-about-text {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}

.shop-header {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.shop-header-logo {
  width: 12rem;
  margin-left: 1rem;
}

.shopCart-container {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #28cc9e;
  border-radius: 10%;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}

.shopCart-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.692);
}

.shopping-cart-indicator-icon {
  font-size: 3rem;
}

.shopCart-number-indicator {
  position: absolute;
  box-sizing: border-box;
  background-color: #28cc9e;
  padding: 6px;
  width: max-content;
  height: 2rem;
  text-align: center;
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
  border-radius: 50px;
  right: 2rem;
  top: 1rem;
}

.shopCart-value-indicator {
  text-align: center;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.shop-items-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  overflow: auto;
  margin: auto;
  gap: 4rem;
  padding: 0 1rem;
}

.shop-items-container::-webkit-scrollbar {
  width: 12px;
}

.shop-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.616);
  border-radius: 20px;
}

.shop-items-container::-webkit-scrollbar-thumb {
  background-color: #28cc9e;
  border-radius: 20px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.item-img {
  height: 30%;
  object-fit: contain;
  margin-bottom: 2rem;
}

.card > ul {
  list-style: none;
}

.list-marker{
  color: #28cc9e;
}

.quantinity-indicator {
  display: inline-block;
}

.item-title {
  margin: 1rem 0;
  border-bottom: 2px solid #28cc9e;
  text-align: center;
}

.item-price {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: #28cc9e;
}

.item-properties > * {
  margin-top: 1rem;
}

.item-card-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#item-quantinity-input {
  display: inline-block;
  max-width: 6rem;
  height: 3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

.item-card-form-btn {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.item-card-form-btn-add {
  width: 3rem;
  height: 3rem;
  background-color: #28cc9e;
  border: 1px solid;
  font-size: 1.5rem;
  cursor: pointer;
}

.item-card-form-btn-add:hover {
color: white;
transition: color 350ms linear;
}

.item-card-form-btn-add:active {
  color: red;
  transition: color 100ms linear;
}

.shoppingCart {
  height: 70%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.shoppingCart > button {
  width: 8rem;
  height: 4rem;
  margin: 0 8rem 0 8rem;
  font-weight: bolder;
  border: 1px solid #28cc9e;
  background-color: rgba(0, 0, 0, 0);
  color: #28cc9e;
  font-size: 1.2rem;
  align-self: end;
}

.shoppingCart-container {
  position: relative;
  background-color: white;
  width: 60%;
  margin: 2rem auto 0 auto;
  height: 80%;
  border-radius: 20px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.shoppingCart-container-btn-back:hover, 
.shoppingCart-container-btn-checkout:hover{
  background-color: rgba(40, 204, 158, 0.157);
  transition: background-color 300ms linear;
  cursor: pointer;
}

.shoppingCart-items-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shoppingCart-items-container > h3 {
  margin-bottom: 1rem;
  padding: .5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  background-color: #28cc9e;
}

.shoppingCart-items-container-empty{
  text-align: center;
  margin-top: 17%;
}


.shoppingCart-container-footer {
  margin-top: 2rem;
}

.shoppingCart-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-items: center;
  overflow: auto;
  padding: 2rem;
}

.shoppingCart-items::-webkit-scrollbar {
  width: 12px;
}

.shoppingCart-items::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.616);
  border-radius: 20px;
}

.shoppingCart-items::-webkit-scrollbar-thumb {
  background-color: #28cc9e;
  border-radius: 20px;
}

.shoppingCart-total {
  border-top: 2px solid #28cc9e;
  width: max-content;
  align-self: flex-end;
  padding-top: 0.3rem;
  margin-right: 1rem;
}

.shoppingCart-item-card {
  display: flex;
  height: 5rem;
  border: 2px solid #28cc9e;
  align-items: center;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shoppingCart-item-img {
  height: 100%;
  object-fit: contain;
  margin-right: 1rem;
}

.shoppingCart-item-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shoppingCart-item-info-btn {
  padding: 0.1rem;
}

.shoppingCart-item-info-btn:hover {
  cursor: pointer;
}

.shoppingCart-item-info-btn-icon,
.item-card-btn-icon {
  pointer-events: none;
}

.shoppingCart-item-info > form {
  display: flex;
  gap: 0.5rem;
  justify-self: flex-end;
}

.shoppingCart-total {
  display: flex;
  justify-content: flex-end;
}

.git-icon {
  position: absolute;
  height: 2rem;
  transition: transform 0.5s ease-in-out;
  color: #28cc9e;
  bottom: 1rem;
  left: 1rem;
}

.git-icon:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.2);
  color: #0c966f;
}