@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.shop-container, .home-container {
background-image: url("https://images.unsplash.com/photo-1511415932124-42efedd2eacf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
background-size: cover;
background-repeat: no-repeat;
font-family: 'Secular One', sans-serif;
height: 100vh;
}
.navbar-list {
    list-style: none;
    display: flex;
    gap: 5rem;
}
.navbar-list > * {
    padding: 1rem 3rem;
    font-weight: bolder;
    border: 1px solid #28CC9E;
}
.navbar-list > *:hover {
    background-color: rgba(40, 204, 158, 0.157);
}

a:link {
    text-decoration: none;
    color: rgb(40, 204, 158);

  }
  
  a:visited {
    text-decoration: none;
    color: #28CC9E;
  }
.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
    padding-top: 5%;
}
.home-contents-right{
    display: flex;
flex-direction: column;
align-items: center;
gap: 3rem;
}
  .home-logo{
height: 40rem;
  }

.home-about-container{
    width: 50rem;
}
.home-about-header{
    color: #28CC9E;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-right: 10%;
}
  .home-about-text {
    
    font-size: 1.5rem;
    color: white;

    padding: 1rem;
  }

  .shopCart-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #28CC9E;
    border-radius: 10%;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    color: white
  }

  .shopping-cart-indicator-icon{
    font-size: 3rem;

  }
  .shopCart-number-indicator{
    position: absolute;
    box-sizing:border-box;
    background-color: #28CC9E;
    padding: 6px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
    border-radius: 50%;
    right: 2rem;
    top: 1rem;
  }

  .shopCart-value-indicator {
    text-align: center;
    margin: 0;
  }

  .items-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
  .card {
    background-color: white;
    width: 70rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
  }
  .item-img{
    height:30% ;
    object-fit: contain;
    
  }
  .card > ul {
    list-style: none;
  }
  .quantinity-indicator{
    display: inline-block;
  }

  .shop-items-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    overflow: auto;
    margin: auto;
    gap: 4rem;
  }

  .shop-items-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .shop-items-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.616);
  }
  
  .shop-items-container::-webkit-scrollbar-thumb {
    background-color: #28CC9E;
    border-radius: 20px;
    border: 3px solid white;
  }

.shoppingCart {
  height: 70%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.shoppingCart > button {
  width: 8rem;
  height: 4rem;
  margin: 0 8rem 0 8rem;
  font-weight: bolder;
  border: 1px solid #28CC9E;
  background-color: rgba(0, 0, 0, 0);
  color: #28CC9E;
  font-size: 1.2rem;
  align-self: end;
}

.shoppingCart > button:hover {
  background-color: rgba(40, 204, 158, 0.157);
}

.shoppingCart-container{
position: relative;
  background-color: white;
  width: 60%;
  margin: 2rem auto 0 auto;
  height: 70%;
  border-radius: 20px;
}
.ShoppingCart-items-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.shoppingCart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  overflow: auto;
  padding: 1rem;
}

.shoppingCart-items::-webkit-scrollbar {
  width: 12px;
}

.shoppingCart-items::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.616);
  border-radius: 20px;
}

.shoppingCart-items::-webkit-scrollbar-thumb {
  background-color: #28CC9E;
  border-radius: 20px;

}

.shoppingCart-item-card{
  display: flex;
  height: 5rem;
  border: 2px solid #28CC9E;
  align-items: center;
padding: .5rem;
}

.shoppingCart-item-img{
  height: 100%;
  object-fit: contain;
  margin-right: 1rem;
}
.shoppingCart-item-info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.shoppingCart-item-info-btn{
padding: .1rem;
}

.shoppingCart-item-info-btn:hover{
cursor: pointer;
}

.shoppingCart-item-info-btn-icon {
  pointer-events: none;
}

.shoppingCart-item-info > form {
  display: flex;
  gap: .5rem;
  justify-self: flex-end;
}



.shoppingCart-total{
  display: flex;
  justify-content: flex-end;
}





  .shop-header-logo{
    width: 40px;
    height: 40px;
  }



